.home-movie {
    min-height: 100vh;
    color: white;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background-dark) url('/src/assets/home-background.png') no-repeat fixed center center;
    background-size: cover;
}
